* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    background: url(../img/content/hero-bg.jpg) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    justify-content: space-between;
}

.logo {
    width: 52px;
    height: 42px;
    display: block;
}

.logo__pic {}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {}

.btn {}

.hero__content {}

.hero__info {}

.hero__headline {}

.title {}

.hero__desc {}