* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    background-color: #1C1C1C;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    background: url(../img/content/hero-bg.jpg) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    justify-content: space-between;
}

.logo {
    width: 52px;
    height: 42px;
    display: block;
}

.logo__pic {}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.7);
}

.btn {
    background-color: #F6762C;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 15px 36px;
}

.hero__content {
    max-width: 49%;
    padding-top: 186px;
}

.hero__info {
    color: #FFFFFF;
}

.hero__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.title {
    font-weight: 500;
    font-size: 57px;
    line-height: 1.18;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: rgb(255, 255, 255, 0.7);
    margin-bottom: 42px;
}

.food {}

.food__list {}

.food__item {}

.food__img-wrap {}

.food__img {}

.food__dish-title {}

.food__dish-desc {}